
body{
    font-family:'Poppins', sans-serif;;
}
header{
    background-color: rgb(82, 0, 235);
    margin-bottom: 70px;
    padding-bottom: 40px;
}
        /*----------------
        navigation bar 
        ------------*/
ul{
    display: flex;
    margin-left: 140px;
    padding-top: 42px;

}
ul li{
    list-style: none;
}
ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 10px;

    
}
.log-in-button{
    margin-left: 450px;
    display: block;
    border: 1px;
    border-radius: 2px;
    background-color: #E02C6D;
    width: 123px;
    text-align: center;
    
}

/* -------header style -----*/

.header-banner-and-title{
    display: flex;
}
.title{
   width: 50%;
   margin-left: 147px;
   margin-top: 150px;
}
.title a{
    display: block;
    border: 1px;
    border-radius: 2px;
    background-color: #E02C6D;
    width: 200px;
    padding: 10px;
    text-align: center;
   
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size:16px ;
}

.head-title{
    font-size: 64px;
    font-weight: 700;
    color: white;
}
.banner{
    padding-top: 153px;
}
.header-banner-and-title img{
width: 556px;
height: 428px;
}
body{
    background-color: rgb(212, 212, 212);
}

/* container style  */
.container{
    margin-left: 180px;
    margin-right: 180px;
    padding-bottom: 20px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-area: sidebar;
    background: white;
    box-shadow: 4px 4px 10px grey;
    padding-bottom: 20px;

}

.player{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 426px;
    padding: 20px;
}
.player img{
    width: 300px;
    height: 256px;
}
  /* highlight style */
.highlight-container{
    display: flex;
    margin-top: 80px;
    padding: 30px;
    background: white;
    box-shadow: 4px 4px 10px grey;
}
.highlight{
    width: 50%;
    margin-left: 2px;
    margin-top: 224px;
}
.highlight h1{
    font-size: 48px;
    font-weight: 700;
    }
.highlight a{
    display: block;
    border: 1px;
    border-radius: 2px;
    background-color: #E02C6D;
    width: 200px;
    padding: 10px;
    text-align: center;
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size:16px ;
}
.fa-arrow-right{
    height: 24px;
    width: 24px;
}
.highlight-image{
    width: 50%;
    margin-top: 165px;
}
.highlight-image img{
width: 567px;
height: 427px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
}
.font-awsome-social-icons a{
    padding: 15px;
    color: gray;
}
.footer p{
    font-size: 20px;
}

/* media query start for mobile devices */

@media only screen and (max-width:688px) {
    body{
        width: 100%;
    }
    .container{
        width: 100%;
    } 
    .players{
        /* width: 100%; */
        grid-template-columns: repeat(1, 1fr);
     }
     .header-banner-and-title{
        display: block;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    ul li{
        list-style: none;
    }
    ul li a{
        display: block;
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        padding: 10px;
    
        
    }
    .log-in-button{
        display: block;
        border: 1px;
        border-radius: 2px;
        background-color: #E02C6D;
        width: 123px;
        text-align: center;
        margin: 0px;
        padding-top: 10px;
        
    }
    .highlight-container{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        padding-right: 100px;
        background: white;
        box-shadow: 4px 4px 10px grey;
        flex-direction: column;
        align-items: center;
    }
    .highlight-image img{
        width: 150%;
        height: 100%;
        
        }
        .player{
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 426px;
            padding-top: 70px;
        }
        .footer{
            display: flex;
            align-items: center;
            margin-top: 158px;
            padding-left: 400px;
            flex-direction: column;
            align-content: space-between;
            justify-content: space-evenly;
        }
}

/* media query end for mobile devices */


